<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Avertissement,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\KLEIN Aurélien\source\repos\WpfApp1\WcfDecryptorService2\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\Users\KLEIN Aurélien\source\repos\WpfApp1\WcfDecryptorService2\App_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <client>
      <endpoint address="http://25.75.97.66:9080/ValidatorService/ValidatorServiceEndpointBean"
        binding="basicHttpBinding" bindingConfiguration="ValidatorPortBinding"
        contract="Validator.ValidatorEndpoint" name="ValidatorPort" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorMeta">
          <serviceMetadata />
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfDecryptorService.App_Code.Authentication.CustomValidator,App_Code.Authentication" />
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ValidatorPortBinding"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpWcfDecryptor" 
                 closeTimeout="00:30:00" 
                 openTimeout="00:30:00"
                 receiveTimeout="00:30:00" 
                 sendTimeout="00:30:00" 
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions" 
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:30:00" />
          <security mode="Message">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="UserName" algorithmSuite="Basic128" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="BehaviorMeta" name="WcfDecryptorService.DecryptorService">
        <endpoint address="net.tcp://localhost:5052/IDecryptorService"
            binding="netTcpBinding" bindingConfiguration="" name="WcfDecryptorService"
            contract="WcfDecryptorService.IDecryptorService" />
        <endpoint address="net.tcp://localhost:5053/IDecryptorService"
            binding="mexTcpBinding" bindingConfiguration="" name="mexWcfDecryptorService"
            contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SqlServerDbContext" connectionString="data source=25.100.145.219, 49172;initial catalog=sql8;persist security info=True;user id=alex;password=***********;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="SqlServerDbContext" connectionString="data source=&quot;25.100.145.219, 49172&quot;;initial catalog=sql8;persist security info=True;user id=alex;password=root;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>