<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationVersion" value="0.1"/>
    <add key="ApplicationToken" value="93b7262b62089fae82bff40bf5fe0180650f4e33d0a114bccf72ab6301465473"/>
    <add key="UserToken" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WcfDecryptorService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://25.62.115.145:5052/IDecryptorService"
        binding="netTcpBinding" bindingConfiguration="WcfDecryptorService"
        contract="WCF.IDecryptorService" name="WcfDecryptorService">
        <identity>
          <userPrincipalName value="DESKTOP-N2LEKCI\Maximilien" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>